  <h2  style="margin-top: 5rem;">My profile</h2>
<p>

  <strong>Name:</strong>
  <%= @user.name %>
<p>nothing?</p>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image de profil:</strong>
  <%= image_tag(@user.profile_image.url) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Posts', posts_path %>
