<% if @user.id == current_user.id %>
  <h2  style="margin-top: 5rem;">My profile</h2>
<% else %>
  <h2  style="margin-top: 5rem;">
    <%= @user.name %>'s profil
  </h2>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
<p>nothing?</p>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Image de profil:</strong>
  <%= image_tag(@user.profile_image.url) if @user.profile_image.url.present?%>
</p>

<%= link_to 'Edit', edit_user_path(@user) if current_user.id ==@user.id %> |
<%= link_to 'Posts', posts_path %>
